$X${
// Testdata Check Utilities
// -----------------------------------------------------------------------------
template <typename T>
inline bool check_list( dp_list<T> const& ls, std::initializer_list<typename value_p<T>::t> const& ts )
{
	rp_list<T>	l;

	for ( auto&& a : ts ) l.push_back( a );

	return ls == reinterpret_cast<dp_list<T> const&>( l );
}

template <typename T>
inline bool check_list( rp_list<T> const& ls, std::initializer_list<typename value_p<T>::t> const& ts )
{
	rp_list<T>	l;

	for ( auto&& a : ts ) l.push_back( a );

	return ls == l;
}

template <typename T>
inline bool check_list( std::list<T> const& ls, std::initializer_list<typename value_p<T>::t> const& ts )
{
	std::list<T>	l;

	for ( auto&& a : ts ) l.push_back( a );

	return ls == l;
}

// iterator utility
// -----------------------------------------------------------------------------
template <typename It>
inline It operator+( const It& i, int n )
{
	It	r = i;

	while ( n-- > 0 ) ++r;

	return r;
}
$}

$V "constructor/assignment/destructor"
${
	// default constructor
	$a		lr;
	AssertTrue( check_list( lr, { } ));

	// copy constructor
	$a		p0( lr );
	const $a	c0( lr );
	lr.push_back( $d$1 );
	$a		p1( lr );
	const $a	c1( lr );
	lr.push_back( $d$2 );
	lr.push_back( $d$3 );
	lr.push_back( $d$4 );
	lr.push_back( $d$5 );
	$a		p5( lr );
	const $a	c5( lr );

	AssertTrue( check_list( p0, { } ));
	AssertTrue( check_list( p1, { $1 } ));
	AssertTrue( check_list( p5, { $1, $2, $3, $4, $5 } ));
	AssertTrue( check_list( c0, { } ));
	AssertTrue( check_list( c1, { $1 } ));
	AssertTrue( check_list( c5, { $1, $2, $3, $4, $5 } ));

	// move constructor
	{
		$a	lx = lr;
		$a	ly( std::move( lx ));

		AssertTrue( check_list( lx, { } ));
		AssertTrue( check_list( ly, { $1, $2, $3, $4, $5 } ));
	}
	// copy assignment operator
	{
		$a	lx;

		lx = p1;
		AssertTrue( check_list( lx, { $1 } ));
		lx = p0;
		AssertTrue( check_list( lx, { } ));
		lx = p5;
		AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
	}
	// move assignment operator
	{
		$a	lx;

		lr = p1;
		lx = $a( { $5, $3, $2 } );				// move assignment by r-value
		AssertTrue( check_list( lx, { $5, $3, $2 } ));

		lx = std::move( lr );					// move assignment by std::move()
		AssertTrue( check_list( lx, { $1 } ));
		AssertTrue( check_list( lr, { } ));			// not mandatory

		lx = std::move( lx );
		AssertTrue( check_list( lx, { } ));			// not mandatory
	}
	// iterator constructor
	{
		$a	lx = p5;

		$a	x3( lx.begin(), lx.begin() + 3 );
		AssertTrue( check_list( x3, { $1, $2, $3 } ));
		$a	x0( lx.begin() + 2, lx.begin() + 2 );
		AssertTrue( check_list( x0, { } ));
		$a	x1( lx.begin() + 3, lx.end());
		AssertTrue( check_list( x1, { $4, $5 } ));
	}
	// fill constructor
	{
		$a    x0( 3 );
		AssertTrue( check_list( x0, { $n, $n, $n } ));
		$a    x1( 2, $n );
		AssertTrue( check_list( x1, { $n, $n } ));
		$a    x2( 4, $3 );
		AssertTrue( check_list( x2, { $3, $3, $3, $3 } ));
	}
	// initializer constructor/assignment operator
	{
		$a	lx = p5;
		$a	x0 { };
		$a	x1 { $1 };
		$a	x5 { $1, $2, $3, $4, $5 };

		AssertTrue( check_list( x0, { } ));
		AssertTrue( check_list( x1, { $1 } ));
		AssertTrue( check_list( x5, { $1, $2, $3, $4, $5 } ));

		lx = { };
		AssertTrue( check_list( lx, { } ));
		lx = { $1 };
		AssertTrue( check_list( lx, { $1 } ));
		lx = { $1, $2, $3, $4, $5 };
		AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
	}
$}

$V "stack and queue operations"
${	{       
		$a	lp;
		
		lp.push_front( $d$1 );
		lp.push_front( $d$2 );
		lp.push_front( $d$3 );
		AssertTrue( check_list( lp, { $3, $2, $1 } ));
		lp.pop_front();
		lp.pop_front();
		lp.pop_front(); 
		AssertTrue( lp.empty());
//		lp.pop_front();		// runtime error
	}
	{
		$a	lp;

		lp.push_back( $d$1 );
		lp.push_back( $d$2 );
		lp.push_back( $d$3 );
		AssertTrue( check_list( lp, { $1, $2, $3 } ));
		lp.pop_back();
		lp.pop_back();
		lp.pop_back();
		AssertTrue( lp.empty());
//		lp.pop_front();		// runtime error

		lp.push_front( $d$3 );
		lp.push_back( $d$5 );
		lp.pop_front();
		lp.push_back( $d$6 );
		lp.push_back( $d$2 );
		lp.push_front( $d$4 );
		lp.pop_back();
		AssertTrue( check_list( lp, { $4, $5, $6 } ));
	}
$}

$V "list operations (modifier)"
${	{
		$a	lp = { $1, $2, $3, $4, $5 };
		$a	l0;

		fprintf( stderr, "--- assign ---\n" );
		{
			$a	lx;

			lx.assign( 3, $n );
			AssertTrue( check_list( lx, { $n, $n, $n } ));
			lx.assign( 7, $4 );
			AssertTrue( check_list( lx, { $4, $4, $4, $4, $4, $4, $4 } ));
			lx.assign( lp.begin() + 2, lp.end());
			AssertTrue( check_list( lx, { $3, $4, $5 } ));
			lx.assign( lp.begin() + 1, lp.begin() + 1 );
			AssertTrue( check_list( lx, { } ));
			lx.assign( { $1, $2, $3, $4, $5 } );
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
			lx.assign( { } );
			AssertTrue( check_list( lx, { } ));
		}
		fprintf( stderr, "--- emplace ---\n" );
		{
			$a		lx = { $2, $3, $5 };
			$a::iterator	r;

			lx.emplace_front( $d$1 );
			AssertTrue( check_list( lx, { $1, $2, $3, $5 } ));
			r = lx.emplace( lx.begin() + 3, $d$4 );
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
			AssertEqual( r, lx.begin() + 3 );
			lx.emplace_back( $d$6 );
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5, $6 } ));
		}
		fprintf( stderr, "--- insert ---\n" );
		{
			$a		lx = { $2, $3, $5 };
			$a::iterator	r;

			r = lx.insert( lx.begin(), $d$1 );
			AssertTrue( check_list( lx, { $1, $2, $3, $5 } ));
			AssertTrue( r == lx.begin());
			r = lx.insert( lx.begin() + 3, $d$4 );
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
			AssertTrue( r == lx.begin() + 3 );
			r = lx.insert( lx.end(), $d$6 );
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5, $6 } ));
			AssertTrue( r == lx.begin() + 5 );

			r = lx.insert( lx.begin(), { $1, $0 } );
			AssertTrue( check_list( lx, { $1, $0, $1, $2, $3, $4, $5, $6 } ));
			AssertTrue( r == lx.begin());
			r = lx.insert( lx.begin() + 6, { $2, $0 } );
			AssertTrue( check_list( lx, { $1, $0, $1, $2, $3, $4, $2, $0, $5, $6 } ));
			AssertTrue( r == lx.begin() + 6 );
			r = lx.insert( lx.begin() + 2, { } );
			AssertTrue( check_list( lx, { $1, $0, $1, $2, $3, $4, $2, $0, $5, $6 } ));
			AssertTrue( r == lx.begin() + 2 );
			r = lx.insert( lx.end(), { $3, $0 } );
			AssertTrue( check_list( lx, { $1, $0, $1, $2, $3, $4, $2, $0, $5, $6, $3, $0 } ));
			AssertTrue( r == lx.begin() + 10 );

			lx.clear();
			r = lx.insert( lx.begin(), 4, $1 );
			AssertTrue( check_list( lx, { $1, $1, $1, $1 } ));
			AssertTrue( r == lx.begin());
			r = lx.insert( lx.begin() + 2, 2, $2 );
			AssertTrue( check_list( lx, { $1, $1, $2, $2, $1, $1 } ));
			AssertTrue( r == lx.begin() + 2 );

			lx.clear();
			r = lx.insert( lx.begin(), lp.begin(), lp.end());
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
			AssertTrue( r == lx.begin());
			r = lx.insert( lx.begin(), l0.begin(), l0.end());
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
			AssertTrue( r == lx.begin());
			r = lx.insert( lx.begin() + 3, l0.begin(), l0.end());
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
			AssertTrue( r == lx.begin() + 3 );
			r = lx.insert( lx.end(), l0.begin(), l0.end());
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
			AssertTrue( r == lx.end());
			r = lx.insert( lx.begin(), lp.begin(), lp.begin() + 2 );
			AssertTrue( check_list( lx, { $1, $2, $1, $2, $3, $4, $5 } ));
			AssertTrue( r == lx.begin());
			r = lx.insert( lx.begin() + 3, lp.begin() + 1, lp.begin() + 4 );
			AssertTrue( check_list( lx, { $1, $2, $1, $2, $3, $4, $2, $3, $4, $5 } ));
			AssertTrue( r == lx.begin() + 3 );
			r = lx.insert( lx.end(), lp.begin() + 3, lp.end());
			AssertTrue( check_list( lx, { $1, $2, $1, $2, $3, $4, $2, $3, $4, $5, $4, $5 } ));
			AssertTrue( r == lx.begin() + 10 );

			lx.clear();
			r = lx.insert( lx.begin(), { $1, $5 } );
			AssertTrue( check_list( lx, { $1, $5 } ));
			AssertTrue( r == lx.begin());
			r = lx.insert( lx.begin() + 1, { $2, $3, $4 } );
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
			AssertTrue( r == lx.begin() + 1 );

			// self insertion
			r = lx.insert( lx.end(), lx.begin(), lx.begin() + 3 );
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $5, $1, $2, $3 } ));
			AssertTrue( r == lx.begin() + 5 );
			r = lx.insert( lx.begin() + 4, lx.begin() + 2, lx.begin() + 5 );
			AssertTrue( check_list( lx, { $1, $2, $3, $4, $3, $4, $5, $5, $1, $2, $3 } ));
			AssertTrue( r == lx.begin() + 4 );
		}
		fprintf( stderr, "--- erase ---\n" );
		{
			$a		lx = lp;
			$a::iterator	r = lx.begin();

			r = lx.erase( r );
			AssertTrue( check_list( lx, { $2, $3, $4, $5 } ));
			AssertTrue( r == lx.begin());
			++r;
			r = lx.erase( r );
			AssertTrue( check_list( lx, { $2, $4, $5 } ));
			AssertTrue( r == lx.begin() + 1 );
			++r;
			r = lx.erase( r );
			AssertTrue( check_list( lx, { $2, $4 } ));
			AssertTrue( r == lx.end());

			lx = lp;
			r = lx.erase( lx.begin(), lx.begin() + 2 );
			AssertTrue( check_list( lx, { $3, $4, $5 } ));
			AssertTrue( r == lx.begin());
			lx = lp;
			r = lx.erase( lx.begin() + 1, lx.begin() + 4 );
			AssertTrue( check_list( lx, { $1, $5 } ));
			AssertTrue( r == lx.begin() + 1 );
			lx = lp;
			r = lx.erase( lx.begin() + 3, lx.end());
			AssertTrue( check_list( lx, { $1, $2, $3 } ));
			AssertTrue( r == lx.end());
		}
		fprintf( stderr, "--- remove, remove_if ---\n" );
		{
			$a	  lx;

			lx = { $1, $2, $3, $4, $5, $5, $4, $3, $2, $1 };

			lx.remove( $3 );
			AssertTrue( check_list( lx, { $1, $2, $4, $5, $5, $4, $2, $1 } ));
			lx.remove( $1 );
			AssertTrue( check_list( lx, { $2, $4, $5, $5, $4, $2 } ));
			lx.remove( $6 );
			AssertTrue( check_list( lx, { $2, $4, $5, $5, $4, $2 } ));

$T${			lx = lp;
			lx.remove_if( [ ]( const test* p ) { return p->num() % 2 == 1; } );
			AssertTrue( check_list( lx, { $2, $4 } ));
			lx.remove_if( [ ]( const test* p ) { return p->num() % 2 == 0; } );
			AssertTrue( check_list( lx, { } ));$}$&
$Z${			lx = lp;
			lx.remove_if( [ ]( const char* p ) { return p && strlen( p ) % 2 == 1; } );
			AssertTrue( check_list( lx, { $3 } ));
			lx.remove_if( [ ]( const char* p ) { return p && strlen( p ) % 2 == 0; } );
			AssertTrue( check_list( lx, { } ));$}$&
$A$F${			lx = lp;
			lx.remove_if( [ ]( const test* v ) { return v[ 0 ].num() % 2 == 1; } );
			AssertTrue( check_list( lx, { $2, $4 } ));
			lx.remove_if( [ ]( const test* v ) { return v[ 0 ].num() % 2 == 0; } );
			AssertTrue( check_list( lx, { } ));$}$&
		}
	}
$}

$V "list operations (accessor)"
${	      
	fprintf( stderr, "--- front/back ---\n" );
	{
		$a		lp = { $1, $2, $3, $1, $4, $5 };
		$a const&	cp = lp;

		AssertTrue( static_cast<bool>( lp.front() ));
$R${		AssertEqual( static_cast<$t>( lp.front()), $1 );$}$&
$D${		AssertNotEqual( static_cast<$t>( lp.front()), $1 );$}
$T${		AssertEqual( *lp.front(), t1 );
		AssertEqual( lp.front()->num(), 1 );$}$&
$Z${		AssertZero( strcmp( lp.front(), $1 ));$}$&
$A$F${		AssertTrue( dp_eql<$v>()( lp.front(), $1 ));$}
$T${
		test	bk = *lp.front();
		*lp.front() = t7;
$R${		AssertTrue( check_list( lp, { $7, $2, $3, $7, $4, $5 } ));$}$&
$D${		AssertTrue( check_list( lp, { $7, $2, $3, $1, $4, $5 } ));$}
		*lp.front() = bk;
$}
		AssertTrue( static_cast<bool>( lp.back() ));
$R${		AssertEqual( static_cast<$t>( lp.back()), $5 );$}$&
$D${		AssertNotEqual( static_cast<$t>( lp.back()), $5 );$}
$T${		AssertEqual( *lp.back(), t5 );
		AssertEqual( lp.back()->num(), 5 );$}$&
$Z${		AssertZero( strcmp( lp.back(), $5 ));$}$&
$A$F${		AssertTrue( dp_eql<$v>()( lp.back(), $5 ));$}

		AssertTrue( static_cast<bool>( cp.front() ));
$R${		AssertEqual( static_cast<$c>( cp.front()), $1 );$}$&
$D${		AssertNotEqual( static_cast<$c>( cp.front()), $1 );$}
$T${		AssertEqual( *cp.front(), t1 );
		AssertEqual( cp.front()->num(), 1 );$}$&
$Z${		AssertZero( strcmp( cp.front(), $1 ));$}$&
$A$F${		AssertTrue( dp_eql<$v>()( cp.front(), $1 ));$}
		AssertTrue( static_cast<bool>( cp.back() ));
$R${		AssertEqual( static_cast<$c>( cp.back()), $5 );$}$&
$D${		AssertNotEqual( static_cast<$c>( cp.back()), $5 );$}
$T${		AssertEqual( *cp.back(), t5 );
		AssertEqual( cp.back()->num(), 5 );$}$&
$Z${		AssertZero( strcmp( cp.back(), $5 ));$}$&
$A$F${		AssertTrue( dp_eql<$v>()( cp.back(), $5 ));$}

		lp.back() = lp.front();			
$R${		AssertEqual( static_cast<$t>( lp.back()), $1 );	// the first and the last both refer $1$}$&
$D${		AssertNotEqual( static_cast<$t>( lp.back()), $1 );	// $1 will be copy assigned$}
		AssertTrue( check_list( lp, { $1, $2, $3, $1, $4, $1 } ));
	}
$}

$V "iterator"
${
	fprintf( stderr, "--- iterator ---\n" );
	{
		$a		lr;
		$a::iterator	i, j;
		unsigned			n;

		for ( i = lr.begin(), n = 0; i != lr.end(); ++i, ++n ) println( *i );
		AssertZero( n );

		lr = { $1, $2, $3, $4, $5 };
		for ( i = lr.begin(), n = 0; i != lr.end(); ++i, ++n ) println( *i );
		AssertEqual( n, 5 );

		i = lr.begin();
		j = i + 2;
		while ( i != lr.end()) {
			if ( i == j ) *i = $d$7;
			println( *i );
			++i;
		}
		AssertTrue( check_list( lr, { $1, $2, $7, $4, $5 } ));

		for ( $t const& p : lr ) println( p );
	}
	fprintf( stderr, "--- const_iterator ---\n" );
	{
		const $a		lr = { $1, $2, $3, $4, $5 };
		unsigned			n = 0;

		for ( auto i = lr.begin(); i != lr.end(); ++i, ++n ) println( *i );
		AssertEqual( n, 5 );

$T${		AssertEqual( **( lr.begin() + 3 ), t4 );$}$&
$Z${		AssertZero( strcmp( *( lr.begin() + 3 ), $4 ));$}$&
$A$F${		AssertTrue( dp_eql<$v>()( *( lr.begin() + 3 ), $4 ));$}

		n = 0;
$T${		for ( auto i = lr.begin(); i != lr.end(); ++i ) n += ( *i )->num();
		AssertEqual( n, 15 );$}$&
$Z${		for ( auto i = lr.begin(); i != lr.end(); ++i ) n += strlen( *i );
		AssertEqual( n, 30 );$}$&
$A$F${		for ( auto i = lr.begin(); i != lr.end(); ++i ) n += ( *i )[ 0 ].num();
		AssertEqual( n, 15 );$}

		for ( $c const& p : lr ) println( p );
	}
$}

$V "list operations (capacity)"
${
	$a	r0;
	$a	r1 = { $1 };
	$a	r5 = { $1, $2, $3, $4, $5 };

	fprintf( stderr, "--- empty() ---\n" );
	AssertTrue( r0.empty());
	AssertFalse( r1.empty());
	AssertFalse( r5.empty());

	fprintf( stderr, "--- size() ---\n" );
	AssertEqual( r0.size(), 0 );
	AssertEqual( r1.size(), 1 );
	AssertEqual( r5.size(), 5 );

	fprintf( stderr, "--- resize() ---\n" );
	{
		$a	l5 = r5;
		l5.resize( 3 );
		AssertTrue( check_list( l5, { $1, $2, $3 } ));
		l5.resize( 0 );
		AssertTrue( check_list( l5, { } ));
		$a	l1 = r1;
		l1.resize( 3 );
		AssertTrue( check_list( l1, { $1, $n, $n } ));
		$a	l0 = r0;
		l0.resize( 3, $4 );
		AssertTrue( check_list( l0, { $4, $4, $4 } ));
	}
$}

$V "list operations (miscellaneous)"
${
	$a	lp = { $1, $1, $2, $5, $3, $3, $3, $5, $4, $4 };

	fprintf( stderr, "--- unique ---\n" );
	{
		$a	lx;

		lx.unique();
		AssertTrue( check_list( lx, { } ));

		lx = lp;
		lx.unique();
		AssertTrue( check_list( lx, { $1, $2, $5, $3, $5, $4 } ));

		lx = lp;
$T${		lx.unique( [ ] ( $c r, $c s ) { return ( r->num() + s->num() ) % 2 == 0; } );
		AssertTrue( check_list( lx, { $1, $2, $5, $4 } ));$}$&
$Z${		lx.unique( [ ] ( $c r, $c s ) { return ( strlen( r ) + strlen( s ) ) % 2 == 0; } );
		AssertTrue( check_list( lx, { $1, $3, $5 } ));$}$&
$A$F${		lx.unique( [ ] ( $c r, $c s ) { return ( r[ 0 ].num() + s[ 0 ].num() ) % 2 == 0; } );
		AssertTrue( check_list( lx, { $1, $2, $5, $4 } ));$}
	}
	fprintf( stderr, "--- splice ---\n" );
	{
		$a	lx = { $1, $2, $3 };
		$a	ly = lp;

		lx.splice(( lx.begin() + 1 ), ly, ( ly.begin() + 7 ));
		AssertTrue( check_list( lx, { $1, $5, $2, $3 } ));
		AssertTrue( check_list( ly, { $1, $1, $2, $5, $3, $3, $3, $4, $4 } ));

		lx.splice(( lx.begin() + 2 ), ly, ( ly.begin() + 3 ), ( ly.begin() + 6 ));
		AssertTrue( check_list( lx, { $1, $5, $5, $3, $3, $2, $3 } ));
		AssertTrue( check_list( ly, { $1, $1, $2, $3, $4, $4 } ));

		lx.splice( lx.end(), ly );
		AssertTrue( check_list( lx, { $1, $5, $5, $3, $3, $2, $3, $1, $1, $2, $3, $4, $4 } ));
		AssertTrue( check_list( ly, { } ));

		//lx.splice(( lx.begin() + 4 ), lx, lx.begin(), ( lx.begin() + 7 ));	// error: pos in [fst,lst)

		lx.splice( lx.begin() + 10, lx, lx.begin(), lx.begin() + 7 );
		AssertTrue( check_list( lx, { $1, $1, $2, $1, $5, $5, $3, $3, $2, $3, $3, $4, $4 } ));
	}

	lp = { $1, $2, $3, $4, $5 };
	fprintf( stderr, "--- swap, reverse, clear ---\n" );
	{
		$a	  lx;
		$a	  ly;

		lx.swap( ly );
		AssertTrue( check_list( lx, { } ));
		AssertTrue( check_list( ly, { } ));
		lx = lp;
		lx.swap( ly );
		AssertTrue( check_list( lx, { } ));
		AssertTrue( check_list( ly, { $1, $2, $3, $4, $5 } ));
		lx.swap( ly );
		AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
		AssertTrue( check_list( ly, { } ));

		ly = lp;
		lx.reverse();
		AssertTrue( check_list( lx, { $5, $4, $3, $2, $1 } ));
		lx.swap( ly );
		AssertTrue( check_list( lx, { $1, $2, $3, $4, $5 } ));
		AssertTrue( check_list( ly, { $5, $4, $3, $2, $1 } ));

		lx = { $1 };
		lx.reverse();
		AssertTrue( check_list( lx, { $1 } ));
		lx = { };
		lx.reverse();
		AssertTrue( check_list( lx, { } ));

		lx = lp;
		lx.clear();
		AssertTrue( check_list( lx, { } ));
		lx.clear();
		AssertTrue( check_list( lx, { } ));
	}
$}

$V "relational operators"
${
	$a      l0;
	$a      l1 = { $1, $2, $3 };
	$a      l2 = { $1, $2, $3, $n };
	$a      l3 = { $1, $2, $3, $4 };
	$a      l4 = { $1, $2, $4 };

	$a      l  = { $1, $2, $3 };


	fprintf( stderr, "--- equality ---\n" );
	AssertTrue( l != l0 );
	AssertTrue( l == l1 );
	AssertTrue( l != l2 );

	fprintf( stderr, "--- comparison ---\n" );
	AssertFalse( l < l0 );
	AssertTrue( l == l1 );
	AssertTrue( l <= l1 );
	AssertTrue( l < l2 );
	AssertTrue( l < l3 );
	AssertTrue( l > l0 );
	AssertTrue( l >= l1 );
	AssertFalse( l >= l2 );
	AssertFalse( l > l3 );
$}

$V "list duplication"
${
	$a	l;
	$a*	p;
	
	p = dpl( &l );
	AssertTrue( check_list( *p, { } ));
	delete p;
	
	l.push_back( $d$1 );
	p = dpl( &l );
	AssertTrue( check_list( *p, { $1 } ));
	delete p;
	
	l.push_back( $d$2 );
	l.push_back( $d$3 );
	l.push_back( $n );
	l.push_back( $d$4 );
	l.push_back( $d$5 );
	p = dpl( &l );
	AssertTrue( check_list( *p, { $1, $2, $3, $n, $4, $5 } ));
	delete p;
$}

$U "heterogenious list"
${
	{
		dp_list<base*>	l = { &t1, &u2, &i3, &u4, &t5, &t6, &i7 };

		println( l );
		AssertEqual( 7, l.size());
	}
	{
		rp_list<base*>	l = { &t1, &u2, &i3, &u4, &t5, &t6, &i7 };

		println( l );
		AssertEqual( 7, l.size());
	}
$}

